:root {
  --pcolor: #f4f4f4;
  --scolor: #007bff;
  --tcolor: #f9f9f9;
  --hcolor: #003366;
  --shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}
/* #007bff; */
/* #2ecc71 */
* {
  padding: 0;
  margin: 0;
}

.nav {
  width: 84.4%;
  max-width: 100%;
  margin-left: 12.5%;
  height: 50px;
  padding: 20px;
  background: var(--tcolor);
  box-shadow: var(--shadow);
  border-radius: 20px;
  position: relative;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--pcolor);
}
.logo {
  text-align: center;
  color: var(--tcolor);
  font-family: 'Poppins';
  font-weight: bold;
  transition: 3s ease;
}
.logo span {
  color: #1a227efd;
}
.mylogo {
  background-color: var(--tcolor);
  width: 45%;
  height: 70px;
  border-radius: 15px;
}
.logo img {
  width: 100%;
  height: 100%;
  position: relative;
}
.hidden {
  display: none;
}
.profile-image {
  width: 55px;
  height: 55px;
  margin-left: -4.5px;
  border-radius: 50%;
  object-fit: cover;
}
.welcome-message {
  font-size: 1rem;
  font-weight: bold;
  color: var(--hcolor);
  opacity: 90%;
  margin-top: -25px;
  padding-top: 20px;
  text-transform: capitalize;
}
.recent-test {
  width: 100%;
  max-width: 100%;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.recent-test h2 {
  background-color: var(--tcolor);
  border: 0.5px solid var(--scolor);
  border-top: 6px solid var(--scolor);
  color: #333333bc;
  display: grid;
  padding: 20px 30px;
  opacity: 80%;
  font-size: 1.4rem;
  height: 80px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}
.recent-test h2 span {
  text-align: center;
  font-size: 1.7rem;
  color: var(--scolor);
}

.hero {
  max-width: 100%;
}
.menu-icon {
  position: absolute;
  right: 10px;
}
.logo_container {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background: linear-gradient(180deg, var(--tcolor) 50%, var(--scolor) 100%);
  border: 1px solid #f7f7f8;
  filter: drop-shadow(0px 0.5px 0.5px #efefef)
    drop-shadow(0px 1px 0.5px var(--scolor));
  border-radius: 11px;
}

@media (max-width: 480px) {
  .hidden {
    display: block;
  }
}
