.footer {
  font-size: 1.5rem;
  font-weight: bold;
  height: 100px;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  color: #333;
  background-color: var(--tcolor);
  box-shadow: var(--shadow);
}
