.slider {
  margin: 0;
  position: fixed;
  background-color: var(--scolor);
  box-shadow: var(--shadow);
  height: 100vh;
  padding: 10px;
}
.menu {
  margin-top: 50px;
  align-content: center;
  margin-left: 9px;
}
.menu ul {
  list-style: none;
  display: inline;
  align-content: center;
}
.menu ul li {
  margin-bottom: 40px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.2s ease;
  font-family: 'Times New Roman', Times, serif;
  padding: 15px;
  border-radius: 5px;
}
.menu ul li a:hover {
  transform: translateY(2px);
}
.icons {
  float: right;
  display: flex;
  gap: 20px;
  margin-top: -55px;
}
.active {
  transition: 0.7s ease;
  /* border: 0.5px solid var(--tcolor); */
  color: var(--tcolor);
  background-color: var(--ibcolor);
}

.unactive {
  color: var(--tcolor);
  font-weight: 500;
  /* letter-spacing: 0.5px; */
}
