.stats {
  background: var(--tcolor);
  border-radius: 10px;
  box-shadow: var(--shadow2);
  padding: 20px;
  max-height: 120px;
  transition: 0.3s ease;
}
.stats .Icons {
  float: right;
  padding: 12px;
  border-radius: 8px;
}
.stats:hover {
  transform: translateY(-5px);
}
.stats h3 {
  text-transform: capitalize;
  color: var(--hcolor);
  opacity: 0.7;
  font-size: 1.3rem;
}
.numtext {
  display: flex;
  flex-direction: column;

  padding-top: 20px;
}
.numtext span {
  font-size: 2rem;
  padding-bottom: 14px;
  font-weight: bold;
  font-family: sans-serif;
  color: #333;
}
.numtext a {
  text-decoration: none;
  color: var(--scolor);
  font-size: 1.1rem;
  transition: 0.5s ease;
}
.numtext a:hover {
  color: var(--hcolor);
  transform: translateX(5px);
}
