.div1 {
  grid-area: 1 / 1 / 3 / 7;
  background-color: var(--scolor);
  padding: 30px;
  position: relative;
  border-radius: 10px;
  font-family: 'poppins';
  color: var(--tcolor);
  display: flex;
  align-items: center;
  min-height: 150px;
  overflow: visible;
  justify-content: space-between;
  gap: 20px;
}
.today-test {
  display: flex;
  align-items: center;
  gap: 5px;
}
.today-test .icon {
  font-size: 22px;
  padding: 5px 10px;
  background: var(--ibcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.today-test .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1;
}

.today-test .count {
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
}
.today-test .label {
  font-size: 14px;
  opacity: 0.9;
  font-family: Arial, Helvetica, sans-serif;
}
.today-test button {
  background: var(--tcolor);
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  color: var(--scolor);
  margin-left: 20px;
  transition: 0.5s ease;
}
.today-test button:hover {
  transform: translateY(3px);
}
.avaters {
  position: absolute;
  right: 0;
  display: flex;
  align-items: flex-end;
  bottom: -0.4px;
  transition: 0.3s ease;
}
.avaters img:first-child {
  margin-right: -130px;
}
.avaters .front {
  filter: drop-shadow(0 -10px 20px rgb(0, 0, 0, 0.25));
  z-index: 1;
}
.avaters img {
  max-width: 400px;
  width: 100%;
  min-height: clamp(160px, 14vw, 300px);
  height: auto;
}
